body {
    background-color: black;
}

h1 {
    color: whitesmoke;
}

div {
    text-align: center;
}

button {
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.iniciar {
    background-color: green;
}

.pausar {
    background-color: gray;
}

.parar {
    background-color: red;
}